<template name="moduleEditor">
    <div class="mainContainer" style="height:calc(100% - 37px)">
        {{> moduleMenu}}

        <div class="displayLarge" style="width:calc(100% - 610px);height:calc(100% - 200px);">
			<div class="buttoncontainer"></div>
            {{> traitDetail}}
        </div>
        
        <div class="moduleImageChooser" style="width:calc(100% - 610px);height:calc(200px);">
				<div class="moduleImageChooseEntry">
					<select class="inside">
						<option value="" selected="selected">No inside</option>
					</select>
					<div class="inside"></div>
				</div>
				
				<div class="moduleImageChooseEntry">
					<select class="outside">
						<option value="" selected="selected">No outside</option>
					</select>
					<div class="outside"></div>
				</div>
				
				<div class="moduleImageChooseEntry">
					<select class="hull">
						<option value="" selected="selected">No hull</option>
					</select>
					<div class="hull"></div>
				</div>
				
				<div class="moduleImageChooseEntry">
					<select class="over">
						<option value="" selected="selected">No over</option>
					</select>
					<div class="over"></div>
				</div>
        </div>
    
        {{> moduleListing}}
    </div>

</template>

<template name="moduleMenu">
    <div class="sidemenu left moduleMenu" style="height:100%;width:400px;">
        <table>
            <tr><td colspan="2">Module name</td></tr>
            <tr>
                <td colspan="2">
                    <input type="text" name="name" value="{{moduleName}}"/>
                </td>
            </tr>
            <tr><td>Width</td><td>Height</td></tr>
            <tr>
                <td>
                    <input type="text" name="width" value="{{tileGridWidth}}"/>
                </td>
                <td>
                    <input type="text" name="height" value="{{tileGridHeight}}"/>
                </td>
            </tr>
            <tr><td>Scale</td><td>Tile height</td></tr>
            <tr>
                <td>
                    <input type="text" name="scale" value="{{scale}}"/>
                </td>
                <td>
                    <input type="text" name="tileHeight" value="{{tileHeight}}"/>
                </td>
            </tr>
            <tr><td>Allowed directions</td><td>Mass</td></tr>
            <tr>
                <td>
                    <input type="text" name="allowedDirections" value="{{allowedDirections}}"/>
                </td>
                <td>
                    <input type="text" name="mass" value="{{mass}}"/>
                </td>
            </tr>
        </table>

        <div>Description</div>
        <textarea name="description">{{description}}</textarea>

        <div>
            <div class="button publish {{publishedClass}}">Publish</div>
            <h3>Click type</h3>
            <div class="button outside {{outsideClass}}">Outside</div>
            <div class="button disabled {{disabledClass}}">Disabled</div>
        </div>
        
        <div>Active module traits</div>
        {{#each activetraits}}
			<div class="button activetrait">{{label}}</div>
        {{/each}}


		<div>Add a module trait</div>
		<select class="newtrait">
			<option value="" disabled="disabled" selected="selected">Select new trait</option>
			{{#each inactivetraits}}
				<option value="{{name}}">{{label}}</option>
			{{/each}}
		</select>
        
</template>

<template name="traitDetail">
    <div class="traitDetails" style="display:{{traitDetailDisplay}};">
		<button class="smallClose"></button>
		{{#each traitVariables}}
			<div>{{description}}</div>
			<input type="text" name="{{name}}" value="{{get}}"/>
		{{/each}}
    </div>
</template>

<template name="moduleListing">
    <div class="sidemenu right" style="height:100%;">
		<div class="create button">CREATE NEW</div>
        <div class="modulelist"></div>
    </div>
</template>

<template name="moduleImage">
    <div class="img-entry module {{selected}}">
        <div class="list-entry-img" style="height:auto;">
            <img style="padding:3px;" src="{{moduleImgSrc}}" />
        </div>
        {{#if isSelected}}
            {{#each moduleLayouts}}
                {{> moduleLayout}}
            {{/each}}
            <div class="create button">
                CREATE NEW
            </div>
        {{/if}}
    </div>
</template>

<template name="moduleLayout">
    <div class="moduleLayout {{selected}} list-entry {{activeClass}}">
        {{layoutName}}
    </div>
</template>
