@import url(https://fonts.googleapis.com/css?family=Lato:300italic,700italic,300,700);

body, html
{
    height:100%;
}

body{
    margin:0;
    padding:0;
    overflow:hidden;
    background-image:url('/raster.jpg');
    font:16px/1.5 Lato, "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-weight:300;

    color: lightgray;

    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

.progress
{
    cursor:progress;
}

a
{
    text-decoration: none;
}

.mainContainer
{
    margin:0;
    padding:0;
    position:relative;
    overflow:hidden;
}

.button
{
    background-image: linear-gradient(to bottom, #2f3648, #9fbbca);
    display: inline-block;

    color:#2f3648;
    border: 1px solid #9fbbca;
    box-shadow: 2px 2px 10px #000000;
    text-shadow: 1px 1px 1px #c8e5e7;
    border-radius: 3px;

    margin: 5px auto;
    text-align: center;
    padding: 0px 5px;
    cursor:pointer;

    text-decoration: none;

    text-transform:uppercase;
    font-size:16px;
    font-weight:bold;
}

.error
{
    color:red;
}

.button.active
{
    background-image: linear-gradient(to bottom, #79ad4b, #c8e5e7);
    box-shadow: inset 2px 2px 10px #000000;
    border: 2px solid black;
}

.button.warning
{
    background-image: linear-gradient(to bottom, #ce321d, #ffdab9);
    border: 1px solid #ffdab9;
    text-shadow: 1px 1px 1px #ffdab9;
}

.deprecated
{
    text-decoration: line-through;
}

.displayLarge
{
    position:absolute;
    right:205px;
    display: -webkit-flex;
    display: flex;
}


.activeRemove
{
    cursor:url(/misc/x.gif), auto;
}


.centered
{
    -webkit-align-self: center;
    align-self: center;
    margin:auto;
    display:inline-block;
    text-align: center;
}

.info{
    letter-spacing: 1px;
    font-size: 30px;
    font-weight: bold;
    color:#0e0e0e;
    text-shadow: 1px 1px 1px #5f5f5f;
}

h2
{
    text-transform:uppercase;
    letter-spacing: 1px;
    font-size: 40px;
    font-weight: bold;
    color:#0e0e0e;
    text-shadow: 1px 1px 1px #5f5f5f;
    opacity:0.8;
    margin-bottom:10px;
}

h2 span
{
    font-size:14px;
    text-transform: none;
    text-shadow:none;
    color:#5f5f5f;
}

h3
{
    margin: 2px 5px;
    text-transform:uppercase;
    letter-spacing: 1px;
    font-size: 16px;
    font-weight: bold;
}

h4
{
    display:inline-block;
    margin: 2px 5px;
    text-transform:uppercase;
    letter-spacing: 1px;
    font-size: 14px;
    font-weight: bold;
}

.marginContainer
{
    width:90%;
    margin: 20px 5%;
}

canvas
{
    margin:0px;
    padding:0px;
}

.selectable
{
    cursor:pointer;
}

.selectable.selected
{
    box-shadow: inset 0px 0px 50px #c8e5e7;
    cursor:default;
}

.shadow
{
    box-shadow: 5px 5px 10px rgba(0,0,0,0.5);
}

.entry
{
    display:inline-block;
    background-color:#333333;
    margin:5px;
    padding:5px;
    border: 1px solid #16181d;
}

.img-background
{
    border: 1px solid #16181d;
    background-color:#35383c;
    box-shadow: inset 0px 0px 50px rgba(0,0,0,0.5);
}

.chessPiece
{
    position:absolute;
    right:0px;
    bottom:5px;
    font-size:35px;
    line-height:35px;
    opacity: 0.8;
}

.label
{
    text-align: center;
    background-color:#121212;
    opacity:0.7;
    color:white;
}
