.sidemenu h3
{
    text-align:center;
}

.sidemenu input
{
    font-size: 14px;
    width:90%;
    margin-left:7px;
}

.sidemenu .label span
{
    text-transform:uppercase;
    letter-spacing: 1px;
    font-size: 14px;
    font-weight: bold;
}
