<template name="topMenu">
    <div class="menubar top">
        <ul>
          <li><a class="button outside" href="{{urlFor 'shipMenu'}}">Ships</a></li>
        </ul>
        {{#if isAdmin}}
        <ul>
          <li><a class="button outside" href="{{urlFor 'hullEditor'}}">Hull Editor</a></li>
          <li><a class="button outside" href="{{urlFor 'moduleEditor'}}">Module Editor</a></li>
        </ul>
        {{/if}}
        <div id="gameBar">
        </div>

        <div class="loginbuttoncontainer">
            {{> loginButtons align="right"}}
        </div>
    </div>
</template>