.menubar.top
{
    position:relative;
    width:100%;
    height:50px;
    background-color:slategrey;
    z-index:30;
}

.menubar.top .loginbuttoncontainer
{
    position:absolute;
    right:20px;
    top:15px;
}