<template name="topMenu">
    <div class="menubar top">
        <ul>
          <li><a class="button outside" href="{{shipMenuPath}}">Ships</a></li>
        </ul>
        {{#if isAdmin}}
        <ul>
          <li><a class="button outside" href="{{hullEditorPath}}">Hull Editor</a></li>
          <li><a class="button outside" href="{{moduleEditorPath}}">Module Editor</a></li>
        </ul>
        {{/if}}
        <div id="gameBar">
        </div>

        <div class="loginbuttoncontainer">
            {{loginButtons align="right"}}
        </div>
    </div>
</template>