<template name="game">
    <div id="gameContainer">
      <div id="gameClickCatcher"></div>
        
      <table id="actionBar" style="display:none;">
        <tr>
          <td id="actionBarMovement" style="width:25%">
            <h4>Movement</h4>
            <div></div>
          </td>
          <td id="actionBarWeapons" style="width:50%">
            <h4>Weapons and abilities</h4>
            <div></div>
          </td>
          <td id="actionBarEW" style="width:25%">
            <h4>Electronic warfare</h4>
            <div></div>
          </td>
        </tr>
      </table>
    </div>
</template>