<template name="hulleditor">
    <div class="mainContainer" style="height:{{height}};">
        {{> hullmenu}}
        {{#if hasSelectedHullLayout}}
            {{#with context}}
                {{> shipDisplay}}
            {{/with}}
        {{else}}
            <div class="centered info">SELECT A HULL →</div>
        {{/if}}
        {{> hullListing}}
    </div>
</template>

<template name="hullmenu">
    <div class="sidemenu left hullmenu" style="height:{{height}}px;">
        <div>Hull name:</div>
        <input type="text" name="name" value="{{hullName}}"/>
        <div>Width:</div>
        <input type="text" name="width" value="{{tileWidth}}"/>
        <div>Height:</div>
        <input type="text" name="height" value="{{tileHeight}}"/>
        <div>Scale:</div>
        <input type="text" name="tileScale" value="{{tileScale}}"/>
        <div>Color:</div>
        <input type="text" name="color" value="{{color}}"/>
        <div>
            <div class="button publish {{publishedClass}}">Publish</div>

            <h3>Tile height</h3>
            <div class="button tileheight {{heightClass1}}" data-tileheight="1">Height 1</div>
            <div class="button tileheight {{heightClass2}}" data-tileheight="2">Height 2</div>
        </div>
    </div>
</template>

<template name="hullListing">
    <div class="sidemenu right" style="height:{{height}}px;">
        {{#each hullImages}}
            {{> hullImage}}
        {{/each}}
    </div>
</template>

<template name="hullImage">
    <div class="img-entry hull {{selected}}">
        {{> smallHullImage}}
        {{#if isSelected}}
            {{#each hullLayouts}}
                {{> hullLayout}}
            {{/each}}
            <div class="create button">
                CREATE NEW
            </div>
        {{/if}}
    </div>
</template>

<template name="hullLayout">
    <div class="hullLayout {{selected}} list-entry {{activeClass}}">
        {{layoutName}}
    </div>
</template>