<template name="hulleditor">
    <div class="hulleditor" style="height:{{height}};">
        {{> hullmenu}}
        {{> hullDisplay}}
        {{> hullListing}}
    </div>
</template>

<template name="hullmenu">
    <div class="sidemenu left hullmenu" style="height:{{height}};">
        <div>Hull name:</div>
        <input type="text" name="hullname" value="{{hullName}}"/>
        <div>Width:</div>
        <input type="text" name="tileWidth" value="{{tileWidth}}"/>
        <div>Height:</div>
        <input type="text" name="tileHeight" value="{{tileHeight}}"/>
        <div>Scale:</div>
        <input type="text" name="tileScale" value="{{tileScale}}"/>
    </div>
</template>

<template name="hullListing">
    <div class="sidemenu right" style="height:{{height}};">
        {{#each hullImages}}
            {{> hullImage}}
        {{/each}}
    </div>
</template>

<template name="hullImage">
    <div class="hull {{selected}}">
        <canvas class="hullcanvas" width="155" height="125"></canvas>
        {{#if isSelected}}
            {{#each hullLayouts}}
                {{> hullLayout}}
            {{/each}}
            <div class="create button">
                CREATE NEW
            </div>
        {{/if}}
    </div>
</template>

<template name="hullLayout">
    <div class="hullLayout {{selected}} list-entry {{activeClass}}">
        {{layoutName}}
    </div>
</template>