<template name="hulleditor">
    <div class="hulleditor" style="height:{{height}};">
        {{> hullDisplay}}
        {{> hullListing}}
    </div>
</template>

<template name="hullListing">
    <div class="sidemenu right" style="height:{{height}};">
        {{#each hullImages}}
            {{> hullImage}}
        {{/each}}
    </div>
</template>

<template name="hullImage">
    <div class="hull {{selected}}">
        <canvas class="hullcanvas" width="155" height="125"></canvas>
        {{#if isSelected}}
            {{#each hullLayouts}}
                {{> hullLayout}}
            {{/each}}
            <div class="create button">
                CREATE NEW
            </div>
        {{/if}}
    </div>
</template>

<template name="hullLayout">
    <div class="hullLayout {{selected}} list-entry {{activeClass}}">
        {{layoutName}}
    </div>
</template>