<template name="fleet">
	<div class="mainContainer" style="height:calc(100% - 46px);margin:0;">
		
		<div class="sidemenu left" style="height:100%;">
			<div class="fleetdetails">
				<h4>Fleet name:</h4>
				<div class="label"><input type="text" name="name" value="{{fleetName}}"/></div>
				<h4>Fleet status:</h4>
				<div class="label"><h4>On campaign</h4></div>
				<h4>Fleet price:</h4>
				<div class="label"><h4>3400</h4></div>
            </div>
        </div>
        
		<div class="fleetContainer" style="position:absolute;bottom:150px;left:205px;height:calc(100% - 150px);width:calc(100% - 410px);">
			

			<div class="fleet">
			</div>
			
			<div class="shipEditor" style="display:none;position:absolute;top:0;left:0;height:100%;width:100%;">
				<div class="buttoncontainer"></div>
			</div>
			
			
		</div>
		
		<div class="fleetResources">
			<h4>Fleet resources:</h4>
		</div>

		
        <div class="sidemenu right" style="height:100%;text-align:justify;">
			<div class="shiplist">
				{{#isolate}}
					{{#each myShips}}
						{{> shipListEntry}}
					{{/each}}
				{{/isolate}}
			</div>
			
			<div class="shipapperance" style="display:none;">
			</div>
        </div>

    </div>
</template>
