<template name="hullEditor">
    <div class="mainContainer" style="height:calc(100% - 37px)">
        {{#if choosingHull}}
            {{> hullImageList}}
        {{/if}}
        {{> hullmenu}}

        <div class="displayLarge" style="width:calc(100% - 400px);height:100%;">
        </div>
    
        {{> hullListing}}
    </div>
</template>

<template name="hullmenu">
    <div class="sidemenu left hullmenu" style="height:100%;">
        <div>Hull name:</div>
        <input type="text" name="name" value="{{hullLayout.name}}"/>
        <div>Width:</div>
        <input type="text" name="width" value="{{hullLayout.width}}"/>
        <div>Height:</div>
        <input type="text" name="height" value="{{hullLayout.height}}"/>
        <div>Hull scale:</div>
        <input type="text" name="hullScale" value="{{hullLayout.hullScale}}"/>
        
        <div>Base turn cost (speed * x):</div>
        <input type="text" name="baseTurnCost" value="{{hullLayout.baseTurnCost}}"/>
        
        <div>Base turn delay (speed * x):</div>
        <input type="text" name="baseTurnDelay" value="{{hullLayout.baseTurnDelay}}"/>
        
        <div>Base acceleration cost:</div>
        <input type="text" name="baseSpeedCost" value="{{hullLayout.baseSpeedCost}}"/>
        
        <div>Color:</div>
        <input type="text" name="color" value="{{hullLayout.color}}"/>
        <div>
            <div class="button publish {{#if hullLayout.published}}active{{/if}}">Publish</div>

            <h3>Tile height</h3>
            <div class="button tileheight {{heightClass1}}" data-tileheight="1">Height 1</div>
            <div class="button tileheight {{heightClass2}}" data-tileheight="2">Height 2</div>
        </div>
    </div>
</template>

<template name="hullListing">
    <div class="sidemenu right" style="height:100%;">
        {{#each hullLayouts}}
            {{> hullLayout}}
        {{/each}}
        <div class="create button">
            CREATE NEW
        </div>
    </div>
</template>

<template name="hullLayout">
    {{> smallHullImage}}
    <div class="hullLayout {{selected}} list-entry {{activeClass}}">
        {{name}}
    </div>
</template>
