<template name="moduleEditor">
    <div class="mainContainer" style="height:{{height}};">
        {{> moduleMenu}}
        {{#if hasSelectedModuleLayout}}
            {{#with context}}
                {{> shipDisplay}}
            {{/with}}
        {{else}}
            <div class="centered info">SELECT A HULL →</div>
        {{/if}}
        {{> moduleListing}}
    </div>
</template>

<template name="moduleMenu">
    <div class="sidemenu left moduleMenu" style="height:{{height}}px;">
        <div>Module name:</div>
        <input type="text" name="name" value="{{moduleName}}"/>
        <div>Width:</div>
        <input type="text" name="width" value="{{tileGridWidth}}"/>
        <div>Height:</div>
        <input type="text" name="height" value="{{tileGridHeight}}"/>
        <div>Scale:</div>
        <input type="text" name="tileScale" value="{{tileScale}}"/>
        <div>Tile height:</div>
        <input type="text" name="tileHeight" value="{{tileHeight}}"/>
        <div>Allowed directions:</div>
        <input type="text" name="allowedDirections" value="{{allowedDirections}}"/>
        <div>Mass:</div>
        <input type="text" name="mass" value="{{mass}}"/>
        <div>
            <div class="button publish {{publishedClass}}">Publish</div>
            <h3>Click type</h3>
            <div class="button outside {{outsideClass}}">Outside</div>
            <div class="button disabled {{disabledClass}}">Disabled</div>
        </div>

        {{#each traits}}
            <div>{{label}}:</div>
            <input type="text" class="trait" name="{{name}}" value="{{value}}"/>
        {{/each}}
    </div>
</template>

<template name="moduleListing">
    <div class="sidemenu right" style="height:{{height}}px;">
        {{#each moduleImages}}
            {{> moduleImage}}
        {{/each}}
    </div>
</template>

<template name="moduleImage">
    <div class="img-entry module {{selected}}">
        <div class="list-entry-img" style="height:auto;">
            <img style="padding:3px;" src="{{moduleImgSrc}}" />
        </div>
        {{#if isSelected}}
            {{#each moduleLayouts}}
                {{> moduleLayout}}
            {{/each}}
            <div class="create button">
                CREATE NEW
            </div>
        {{/if}}
    </div>
</template>

<template name="moduleLayout">
    <div class="moduleLayout {{selected}} list-entry {{activeClass}}">
        {{layoutName}}
    </div>
</template>