<template name="shipMenu">
    {{#if currentUser}}
    <div class="marginContainer">
        <h2>Your ships</h2>
        {{#with myShipsContext}}
            {{> shipListing}}
        {{/with}}

    </div>
    {{/if}}

    <div class="marginContainer">
        <h2>public ships
            {{#unless currentUser}}
                <span>
                    (Log in to create your own ships)
                </span>
            {{/unless}}
        </h2>
        {{#with publicShipsContext}}
            {{> shipListing}}
        {{/with}}

    </div>
</template>

<template name="forbidden">
    Access denied.
</template>