<template name="moduleDisplay">
    <div class="displayLarge" style="width:{{width}}px;height:{{height}}px">
        {{#if hasSelectedLayout}}
            <canvas class="shipDisplay outerhull" width="{{width}}" height="{{height}}"></canvas>
            <canvas class="shipDisplay hullgrid" width="{{width}}" height="{{height}}"></canvas>
            <div class="shipDisplay clickCatcher" style="width:{{width}}px; height:{{height}}px;"></div>
        {{else}}
            <div class="centered info">SELECT A MODULE →</div>
        {{/if}}
    </div>
</template>

