<template name="shipEditor">
    <div class="mainContainer" style="height:{{height}};">
        {{> shipMenu}}
        {{> shipDisplay}}
        {{> moduleListing}}
    </div>
</template>

<template name="shipMenu">
    <div class="sidemenu left hullmenu" style="height:{{height}};">
        <div>Hull name:</div>
        <input type="text" name="name" value="{{hullName}}"/>
        <div>Width:</div>
        <input type="text" name="width" value="{{tileWidth}}"/>
        <div>Height:</div>
        <input type="text" name="height" value="{{tileHeight}}"/>
        <div>Scale:</div>
        <input type="text" name="tileScale" value="{{tileScale}}"/>
        <div>
            <div class="button publish {{publishedClass}}">Publish</div>
        </div>
    </div>
</template>

<template name="availableModuleListing">
    <div class="sidemenu right" style="height:{{height}};">
        {{#each availableModules}}
        {{> module}}
        {{/each}}
    </div>
</template>

<template name="module">
    <div>
        {{name}}
    </div>
</template>
