<template name="shipEditor">
    <div class="mainContainer" style="height:{{height}};">
        {{> shipMenu}}
            {{> shipDisplay}}
        {{> availableModuleListing}}
    </div>
</template>

<template name="shipMenu">
    <div class="sidemenu left hullmenu" style="height:{{height}};">
        <div>Hull name:</div>
        <input type="text" name="name" value="{{hullName}}"/>
        <div>Width:</div>
        <input type="text" name="width" value="{{tileWidth}}"/>
        <div>Height:</div>
        <input type="text" name="height" value="{{tileHeight}}"/>
        <div>Scale:</div>
        <input type="text" name="tileScale" value="{{tileScale}}"/>
        <div>
            <div class="button publish {{publishedClass}}">Publish</div>
        </div>
    </div>
</template>

<template name="availableModuleListing">
    <div class="sidemenu right" style="height:{{height}};">
        <div class="shadow" style="width:60px;height:60px;margin:5px;display:inline-block;">
            <div class="img-background remove selectable {{selectedClass}}" style="height:60px; width:60px;position:relative;">
                <img style="padding:5px;width:50px;" src="/misc/x.png" />
            </div>
        </div>
        {{#each availableModules}}
            {{> smallModuleImage}}
        {{/each}}
    </div>
</template>

