<template name="shipEditor">
    <div class="mainContainer" style="height:{{height}};">
        <div class="sidemenu left shipmenu" style="height:{{height}}px;">
            {{> shipMenuOwned}}
        </div>

        {{#with context}}
            {{> shipDisplay}}
        {{/with}}

        {{#isolate}}
        {{#if isMyShip}}
            {{> shipEditorRightMenu}}
        {{/if}}
        {{/isolate}}
    </div>
</template>

<template name ="shipEditorRightMenu">
    <div class="sidemenu right" style="height:{{height}}px;">
        {{#if isGridView}}
            <div class="shadow" style="width:60px;height:60px;margin:5px;display:inline-block;">
                <div class="img-background remove selectable {{selectedClass}}" style="height:60px; width:60px;position:relative;">
                    <img style="padding:5px;width:50px;" src="/misc/x.png" />
                </div>
            </div>
            {{#isolate}}
            {{#each availableModules}}
                {{> smallModuleImage}}
            {{/each}}
            {{/isolate}}
        {{else}}
            <h3>Hull color</h3>
            <input id="hullColor" type="text" name="hullColor"/>
        {{/if}}
    </div>
</template>