<template name="moduleEditor">
    <div class="mainContainer" style="height:{{height}};">
        {{> moduleMenu}}
        {{> moduleDisplay}}
        {{> moduleListing}}
    </div>
</template>

<template name="moduleMenu">
    <div class="sidemenu left moduleMenu" style="height:{{height}};">
        <div>Module name:</div>
        <input type="text" name="name" value="{{moduleName}}"/>
        <div>Width:</div>
        <input type="text" name="width" value="{{tileWidth}}"/>
        <div>Height:</div>
        <input type="text" name="height" value="{{tileHeight}}"/>
        <div>Scale:</div>
        <input type="text" name="tileScale" value="{{tileScale}}"/>
        <div>
            <div class="button publish {{publishedClass}}">Publish</div>
        </div>
    </div>
</template>

<template name="moduleListing">
    <div class="sidemenu right" style="height:{{height}};">
        {{#each moduleImages}}
            {{> moduleImage}}
        {{/each}}
    </div>
</template>

<template name="moduleImage">
    <div class="img-entry module {{selected}}">
        <div class="list-entry-img" style="height:auto;">
            <img style="padding:3px;" src="{{moduleImgSrc}}" />
        </div>
        {{#if isSelected}}
            {{#each moduleLayouts}}
                {{> moduleLayout}}
            {{/each}}
            <div class="create button">
                CREATE NEW
            </div>
        {{/if}}
    </div>
</template>

<template name="moduleLayout">
    <div class="moduleLayout {{selected}} list-entry {{activeClass}}">
        {{layoutName}}
    </div>
</template>